 html {
    height: 100%;
 }

 body {
    height: 100%;
    margin: 0;
 }
 
 .content {
    width: auto;
    height: 75%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: #342428;
}

.field {
    width: 80%;
    /* min-width: 920px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5px auto;
    background-color: #F0DDA2;
    gap: 1% 1%;
}

.controller {
    width: 100%;
    /* min-width: 300px; */
    background-color: #CA8D6D;
    text-align: center;
    height: auto;
    min-height: 120px ;
    .trigger{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .btn {
            color: white;
            margin: 5px;
        }
        #btn_star_trigger {
            background-color: goldenrod;
        }
        #btn_front_trigger {
            background-color: magenta;
        }
        #btn_draw_trigger {
            background-color: brown;
        }
        #btn_heal_trigger {
            background-color: greenyellow;
        }
        #btn_over_trigger {
            background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
        }
    }
}

.counter {
    width: 100%;
    height: auto;
    /* min-width: 300px; */
    background-color: #AE6842;
    text-align: center;
}

.point {
    color: #2A0505;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18pt;
}

.circle_label {
    /* min-width: 130px; */
    background-color: #2A0505;
    color: white;
    
    /* パソコン向け */
    @media (min-width: 845px) {
        width: 33%;
    }
    
    /* スマホ向け */
    @media (max-width: 844px) {
        width: 100%;
    }
}
    
/* パソコン向け */
@media (min-width: 845px) {
    .display-pc {
        display: block;
    }
    .display-sp {
        display: none;
    }
}

/* スマホ向け */
@media (max-width: 844px) {
    .display-pc {
        display: none;
    }
    .display-sp {
        display: block;
    }
}

.content_2 {
    width: auto;
    height: 25%;
    display: flex;
    justify-content: center;
    background-color: #342428;

    /* パソコン向け */
    /* @media (min-width: 845px) {
        display: block;
    } */
    
    /* スマホ向け */
    /* @media (max-width: 844px) {
        display: none;
    } */
}
 
.adder {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5px auto;
    background-color: #F0DDA2;
    gap: 1% 1%;
}
 
.select_power {
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 20%);
    margin: 0 auto;
    gap: 1% 1%;
}

.add_point {
    /* min-width: 100px; */
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18pt;
    background-color: #AE6842;
    font-size: 1.0em;
}